attrs
beautifulsoup4
bs4
certifi
charset-normalizer
click
Flask
Flask-SQLAlchemy
greenlet
idna
importlib-metadata
iniconfig
itsdangerous
Jinja2
MarkupSafe
packaging
pluggy
psycopg2-binary
py
pyparsing
requests
soupsieve
tomli
urllib3
Werkzeug
zipp
flask_socketio
joblib
matplotlib
psutil